
solr/solr8/mycores/nrm_index/data
solr/solr8/mycores/security.json

solr/solr8/logs/*



.DS_Store
*/target/
*/nb-configuration.xml



*.properties

project-initdata_local.yml

notes
/samlingar-specify-dwc/specify-data-model/target/
/samlingar-specify-dwc/specify-data-jpa/target/
/samlingar-specify-dwc/specify-data-process/target/



mapping_files
