
solr/solr8/mycores/samlingar/data
solr/solr8/mycores/security.json
solr/solr8/mycores/security_without_auth.json


solr/solr8/logs/
solr/solr8/original_file



.DS_Store
*/target/
*/nb-configuration.xml



*.properties

project-initdata_local.yml
project-initdata_ent.yml

notes
/samlingar-specify-dwc/specify-data-model/target/
/samlingar-specify-dwc/specify-data-jpa/target/
/samlingar-specify-dwc/specify-data-process/target/


Samlingsdatabas.pptx
Samlingsdatabas Annas ändringar.pptx

mapping_files


specify-to-dwc
/samlingar_back/samlingar-service/samlingar-api/target/

documents
/samlingar-csv-solr/samlingar-data-process/target/
/samlingar-csv-solr/project-initdata.yml
